/* Datetime Picker */

[class^="icon-"], [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}
.icon-time {
    background-position: -48px -24px;
}
.icon-chevron-up {
    background-position: -288px -120px;
}
.icon-chevron-down {
    background-position: -313px -119px;
}
.icon-calendar {
    background-position: -192px -120px;
}
.table-condensed{
    text-align: center;
}

/* Pin Map */
#map{
    position: absolute;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    z-index: -99;
}